<div class="container">
  <div class="row main">
    <div class="main-login main-center">
      <form class="form-horizontal" (submit)="login()" >
        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Login</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user fa" aria-hidden="true"></i>
              </span>
              <input name="username" [(ngModel)]="credentials.username" type="text" class="form-control" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope fa" aria-hidden="true"></i>
              </span>
              <input name="password" [(ngModel)]="credentials.password" type="password" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="form-group ">
          <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>