<div class="jumbotron jumbotron-fluid">
  <h2>User maintain</h2>
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Username</th>
                  <th scope="col">name</th>
                  <th scope="col">surname</th>
                  <th scope="col">singUpDate</th>
                  <th scope="col">lastModificationDate</th>
                  <th scope="col">complete</th>
                  <th scope="col">enabled</th>
                  <th scope="col">Disable </th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let uV of userViewArray; index as i">
                  <th scope="row">{{i}}</th>
                  <td>{{ uV.username }}</td>
                  <td>{{ uV.name }}</td>
                  <td>{{ uV.surname }}</td>
                  <td>{{ uV.singUpDate }}</td>
                  <td>{{ uV.lastModificationDate }}</td>
                  <td>{{ uV.complete }}</td>
                  <td>{{ uV.enabled }}</td>
                  <td (click)="disable(uV, false)" *ngIf="uV.enabled"><button type="button" class="btn btn-warning">Disable</button></td>
                  <td (click)="disable(uV, true)" *ngIf="!uV.enabled"><button type="button" class="btn btn-warning" >Enable</button></td>
                  <td><button type="button" class="btn btn-danger" (click)="deleteUser(uV)">Delete</button></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
</div>