<div class="alert alert-primary" role="alert" *ngIf="messageInfo.type == 'primary'">
  {{ messageInfo.content}}
</div>
<div class="alert alert-secondary" role="alert" *ngIf="messageInfo.type == 'secondary'">
  {{ messageInfo.content}}
</div>
<div class="alert alert-success" role="alert" *ngIf="messageInfo.type == 'success'">
  {{ messageInfo.content}}
</div>
<div class="alert alert-danger" role="alert" *ngIf="messageInfo.type == 'danger'">
  {{ messageInfo.content}}
</div>
<div class="alert alert-warning" role="alert" *ngIf="messageInfo.type == 'warning'">
  {{ messageInfo.content}}
</div>
<div class="alert alert-info" role="alert" *ngIf="messageInfo.type == 'info'">
  {{ messageInfo.content}}
</div>
<div class="alert alert-light" role="alert" *ngIf="messageInfo.type == 'light'">
  {{ messageInfo.content}}
</div>
<div class="alert alert-dark" role="alert" *ngIf="messageInfo.type == 'dark'">
  {{ messageInfo.content}}
</div>
