<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">User Manager</h1>
    <p class="lead">Simple App!</p>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item" *ngIf="!auth.authenticated">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!auth.authenticated">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>

      <li class="nav-item" *ngIf="auth.authenticated && auth.user">
        <a class="nav-link" routerLink="/account">Account</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated && auth.admin">
        <a class="nav-link" routerLink="/userMaintain">User Maintain</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
    <span class="badge badge-secondary">{{ auth.username }}</span>
  </div>
</nav>