<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3>User Details</h3>
    <div class="row main">
      <div class="main-login main-center">
        <form class="form-horizontal" (submit)="updateUserDetails()">
          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Login</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user fa" aria-hidden="true"></i>
                </span>
                <input name="username" [(ngModel)]="user.username" type="text" class="form-control" disabled/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Name</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope fa" aria-hidden="true"></i>
                </span>
                <input name="name" [(ngModel)]="user.userDetails.name" type="text" class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Surname</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope fa" aria-hidden="true"></i>
                </span>
                <input name="surname" [(ngModel)]="user.userDetails.surname" type="text" class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">City</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope fa" aria-hidden="true"></i>
                </span>
                <input name="city" [(ngModel)]="user.userDetails.city" type="text" class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Address</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope fa" aria-hidden="true"></i>
                </span>
                <input name="address" [(ngModel)]="user.userDetails.address" type="text" class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Telephone Number</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope fa" aria-hidden="true"></i>
                </span>
                <input name="tele" [(ngModel)]="user.userDetails.telephonNumber" type="text" class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Email</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope fa" aria-hidden="true"></i>
                </span>
                <input name="emailAdress" [(ngModel)]="user.userDetails.emailAdress" type="text" class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="cols-sm-2 control-label">Birth Date</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-envelope fa" aria-hidden="true"></i>
                </span>
                <input name="birhtDate" [(ngModel)]="user.userDetails.birhtDate" type="date" class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group ">
            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Update</button>
          </div>
        </form>
      </div>
      {{userDetails.email}}
    </div>
  </div>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3>Change password</h3>
    <div class="row main">
      <div class="main-login main-center">
        <form class="form-horizontal" (submit)="changePassword()">

          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Password</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user fa" aria-hidden="true"></i>
                </span>
                <input name="oldPass" [(ngModel)]="passwordChange.oldPassword" type="password" class="form-control" />
              </div>
            </div>
          </div>


          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">New password</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user fa" aria-hidden="true"></i>
                </span>
                <input name="newPass" [(ngModel)]="passwordChange.newPassString" type="password" class="form-control" />
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="name" class="cols-sm-2 control-label">Repeat New password</label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user fa" aria-hidden="true"></i>
                </span>
                <input name="newPassRep" [(ngModel)]="passwordChange.newPassStringRep" type="password" class="form-control" />
              </div>
            </div>
          </div>
          <div class="form-group ">
            <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Update</button>
          </div>
        </form>
      </div>
    </div> 

    <h3>Press if u want delete account</h3>
    <button type="button" class="btn btn-danger" (click)="deleteAcount()">Delete account</button>