
<div class="alert alert-danger" role="alert" *ngIf="incorrectCredencialsMessage.length > 0">
  {{ incorrectCredencialsMessage }}
</div>
<div class="alert alert-success" role="alert" *ngIf="registered">
  Register completed, now u can sing in!
</div>

<div class="container">
  <div class="row main">
    <div class="main-login main-center">
      <form class="form-horizontal" (submit)="register()" >
        <div class="form-group">
          <label for="name" class="cols-sm-2 control-label">Login</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-user fa" aria-hidden="true"></i>
              </span>
              <input name="username" [(ngModel)]="user.username" type="text" class="form-control" />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope fa" aria-hidden="true"></i>
              </span>
              <input name="password" [(ngModel)]="user.password" type="password" class="form-control"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Repeat password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope fa" aria-hidden="true"></i>
              </span>
              <input name="repeat-password" [(ngModel)]="repeatedPassword" type="password" class="form-control"/>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Email</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope fa" aria-hidden="true"></i>
              </span>
              <input name="email" [(ngModel)]="user.email" type="text" class="form-control"/>
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>